/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #E2427F;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
  color: white;
  font-size: 42;
}
.navbar-nav {
  color: white;
}

/* navbar-vc styling */

.navbar-vc {
  background-color: #e2427f;
  border-color: #b83265
}
.navbar-vc .navbar-brand {
  color: #f0f0f0;
  font-family: "Courier New",Courier,monospace;
  font-weight: bold;
  font-size: 3em
}
.navbar-vc .navbar-brand:hover,
.navbar-vc .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-vc .navbar-text {
  color: #f0f0f0;
}
.navbar-vc .navbar-nav > li > a {
  color: #f0f0f0;
}
.navbar-vc .navbar-nav > li > a:hover,
.navbar-vc .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-vc .navbar-nav > .active > a,
.navbar-vc .navbar-nav > .active > a:hover,
.navbar-vc .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #b83265;
}
.navbar-vc .navbar-nav > .disabled > a,
.navbar-vc .navbar-nav > .disabled > a:hover,
.navbar-vc .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-vc .navbar-toggle {
  border-color: #b83265;
}
.navbar-vc .navbar-toggle:hover,
.navbar-vc .navbar-toggle:focus {
  background-color: #b83265;
}
.navbar-vc .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-vc .navbar-collapse,
.navbar-vc .navbar-form {
  border-color: #b83265;
}
.navbar-vc .navbar-nav > .open > a,
.navbar-vc .navbar-nav > .open > a:hover,
.navbar-vc .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #b83265;
}
@media (max-width: 767px) {
  .navbar-vc .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #b83265;
  }
  .navbar-vc .navbar-nav .open .dropdown-menu .divider {
    background-color: #b83265;
  }
  .navbar-vc .navbar-nav .open .dropdown-menu > li > a {
    color: #f0f0f0;
  }
  .navbar-vc .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-vc .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-vc .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-vc .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-vc .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #b83265;
  }
  .navbar-vc .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-vc .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-vc .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ededed;
    background-color: transparent;
  }
}
.navbar-vc .navbar-link {
  color: #f0f0f0;
}
.navbar-vc .navbar-link:hover {
  color: #fff;
}
.navbar-vc .btn-link {
  color: #f0f0f0;
}
.navbar-vc .btn-link:hover,
.navbar-vc .btn-link:focus {
  color: #fff;
}
.navbar-vc .btn-link[disabled]:hover,
fieldset[disabled] .navbar-vc .btn-link:hover,
.navbar-vc .btn-link[disabled]:focus,
fieldset[disabled] .navbar-vc .btn-link:focus {
  color: #ededed;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
