---
layout: page
title: About
permalink: /about/
css: page_about.css
nav_position: 1
---

<section>
  <h1>Design & Code with Us</h1>
  <p>We're Vassar's Coders, Hackers, and Designers. We make things. VC++ was started to give Vassar's programmers the practical skills necessary to thrive in the tech industry, while also providing Vassar College with a team of capable thinkers and doers. We focus on mobile, web, and game development.</p>

	<!--
	<h3>Our History</h3>
	<p>VC++ was started by... in...</p> -->

	<h3>How to Get Involved</h3>
	<p>Visit the <a href="/contact/">contact</a> page and send someone an email! We'll get back to you as soon as possible.</p>

	<h3>Our Members</h3>
	<ul>
		{% assign team-members = site.team-members %}
		{% for team-member in team-members %}
		{% if team-member.current-member %}
		<li>
			{{ team-member.title }}
			<ul>
				{% if team-member.github-url %}<li><a href="{{ team-member.github-url }}">Github</a></li>{% endif %}
				{% if team-member.personal-url %}<li><a href="{{ team-member.personal-url }}">Personal website</a></li>{% endif %}
			</ul>
		</li>
		{% endif %}
		{% endfor %}
	</ul>

</section>
