---
layout: page
title: About
permalink: /about/
css: page_about.css
nav_position: 1
---

<section class="mostly-text">
  <h1>Design, Code, and Learn with Us</h1>
  <p>We're Vassar's Coders, Hackers, and Designers. We make things. VC++ was started to give Vassar's programmers the practical skills necessary to thrive in the tech industry, while also providing Vassar College with a team of capable thinkers and doers. We focus on mobile, web, and game development.</p>

	<h2>Who's Welcome?</h2>
  <p>Everybody! We love getting new and unique ideas in VC++, so if you've never seen a line of code before <em>we want you!</em> You won't be judged by your experience level, and we can help you learn as you go. If you have any questions please get in <a href="/contact/">contact</a> with one of our members and we'll get back to you shortly.</p>

  <p>If you're a more experienced designer or developer we want you too! We are always looking for new people who can help build some of our awesome projects. You also get the opportunity to learn new things from our other members, and you're experience will be very valuable to students who are newer coders.</p>

  <h2>I'm Already Very Busy</h2>
  <p>That's okay! You only have to spend as much time with VC++ as you want to. You don't have to work on a project, and you don't have to come to every meeting. With that being said, we think you'll have a blast with VC++, and you might just want to be involved with everything!</p>

  <h2>Getting Involved</h2>
  <p>It's super easy to get involved in VC++! <!-- fill in meeting times here --> We're still getting our meeting times set in stone, so check out the <a href="/contact/">contact page</a> and send someone an email for the time and place for our next meeting. We'll also send you the URL for our <a href="https://slack.com">Slack</a> so you can get up to date on everything that's happening.</p>

	<h2>Our Members</h2>
	<ul>
		{% assign team-members = site.team-members %}
		{% for team-member in team-members %}
		{% if team-member.current-member %}
		<li>
			{{ team-member.title }}
			<ul>
				{% if team-member.github-url %}<li><a href="{{ team-member.github-url }}">Github</a></li>{% endif %}
				{% if team-member.personal-url %}<li><a href="{{ team-member.personal-url }}">Personal website</a></li>{% endif %}
			</ul>
		</li>
		{% endif %}
		{% endfor %}
	</ul>

</section>
