

<div class="container">
  <section class="hero">

      <h2>Welcome Class of 2020!</h2>
      <span>We're Vassar's Coders, Hackers, and Designers. We make things. VC++ was started to give Vassar's programmers the practical skills necessary to thrive in the tech industry, while also providing Vassar College with a team of capable thinkers and doers. We focus on mobile, web, and game development.</span>
      <a href="/contact" class="button button-red">Join Us</a>
      <a href="/about" class="button">Learn More</a>
  </section>

</div>
