

<div class="container">
  <section class="hero">

      <h2>Welcome to VC++!</h2>

      <span>We are a group of Vassar's most passionate designers and coders. Together we help each other learn about new technologies, and along the way, create some awesome projects. Whether you're a complete beginner or coding expert, join us in <em>Sanders Physics</em> to learn, build, and make friends.</span>

      <a href="/contact" class="button button-red">Join Us</a>
      <a href="/about" class="button">Learn More</a>
  </section>

</div>
